<ion-view>
    <div class="lc lcl">
        <ion-header-bar>
            <div class="menu-ba">
                <header class="menu"><button class="menu-return" ng-click="func.back()"></button>基金<span class="menu-wd" ng-click="func.onCheckTransLog()">交易查询</span></header>
            </div>
        </ion-header-bar>
        <ion-content has-bouncing="false" class="has-header"  delegate-handle="myContent">

            <div class="lc-hd-wrap flex">
                <div class="total-num item">
                    <span class="t">持有市值（元）</span>
                    <!--<span class="num">986,456.<i class="s">83</i></span>-->
                    <span class="num">{{data.totalGJAmount}}</span>
                </div>
                <div class="sp-num item">
                    <span class="t">持有产品（个）</span>
                    <span class="num">{{data.stockCount}}</span>
                    <!--<span class="k">持有产品&#12288;(个)<i class="v">{{data.stockCount}}</i></span>-->
                </div>
            </div>

            <!-- 股票基金 -->
            <div ng-if="data.stockCount" style="overflow:hidden">
                <ul class="lc-card-list gp">
                    <li ng-repeat="item in data.stockListArr" ng-click="func.onClickStock(item)">
                        <div class="hd">
                            <span class="name">{{item.prodName}}</span>
                            <span class="msg">{{item.descTop}}</span>
                            <div class="cd-wrap" style="width:0%;"></div>
                        </div>
                        <div class="bd">
                            <div class="con">
                                <div class="l">
                                    <!--<div class="sy">昨日<span class="up"><span class="fz">68.<i>00</i></span></span></div>-->
                                    <!--<div class="wt hide">等待收益</div>-->
                                    <div class="sy" ng-if="item.yesterdayIncome != ''">{{item.incomeDateDesc}}<span ng-class="item.cls"><span class="fz">{{item.yesterdayIncome}}</span></span></div>
                                    <div class="wt" ng-if="item.yesterdayIncome == ''">{{item.stateDesc}}</div>

                                </div>
                                <span class="r"><span>{{item.amount}}{{item.unit}}</span></span>
                            </div>
                            <p class="wd" ng-if="item.onWayDescList.length > 0">
                                <span ng-repeat="desc in item.onWayDescList">{{desc}}</span>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <img src="../img/fc-more@2x.png" alt="" style="display: block;width: 176px;height: 96px;margin: 40px auto 0;" ng-if="!data.stockCount">
        </ion-content>
    </div>
</ion-view>
