<ion-view>
    <div class="lc">
        <ion-header-bar>
            <div class="menu-ba">
                <header class="menu"><button class="menu-return" ng-click="func.back()"></button>转出</header>
            </div>
        </ion-header-bar>
        <ion-content has-bouncing="false" class="has-header">
            <!--<p class="cy-j">{{data.transDesc}}</p>-->
            <section class="path-money p-bgc-blue">
                <div class="white-box flex">
                    <!--未知支付账户-->
                    <span class="item iconcard" ng-if="func.getPayAccount() == data.ACCOUNT_TYPE.INVALID_TYPE">
                        <i>绑定卡</i>
                    </span>
                    <!--他行卡支付-->
                    <span class="item card" ng-if="func.getPayAccount() == data.ACCOUNT_TYPE.OTHER_BANK_CARD">
                        {{data.payAccountData.otherBankAccount.cardInfo.bankName}}
                        <br>{{data.payAccountData.otherBankAccount.cardInfo.cardType}}
                        {{data.payAccountData.otherBankAccount.cardInfo.cardNo | abridgeAccountNumber}}
                    </span>
                    <!--活期+支付-->
                    <span class="item plus" ng-if="func.getPayAccount() == data.ACCOUNT_TYPE.CURRENT_PLUS">
                        <i class="cplus">活期+</i>
                    </span>
                    <!--微众卡支付-->
                    <span class="item iconcard" ng-if="func.getPayAccount() == data.ACCOUNT_TYPE.WEBANK_CARD">
                        <i class="wcard">微众卡{{data.mainCard.number | abridgeAccountNumber}}</i>
                    </span>
                    <span class="item toright p-c-gray">
                        <span ng-if="!data.amount">金额</span>
                        <span class="p-c-lorange num" ng-if="data.amount">{{data.amount}}元</span><br>
                        <span>实时到账</span>
                    </span>
                    <!--未知收款账户-->
                    <span class="item iconcard" ng-if="func.getRecvAccount() == data.ACCOUNT_TYPE.INVALID_TYPE">
                        <i>绑定卡</i>
                    </span>

                    <!--活期+收款-->
                    <span class="item plus" ng-if="func.getRecvAccount() == data.ACCOUNT_TYPE.CURRENT_PLUS">
                        <i class="cplus">活期+</i>
                    </span>
                    <!--微众卡收款-->
                    <span class="item iconcard" ng-if="func.getRecvAccount() == data.ACCOUNT_TYPE.WEBANK_CARD">
                        <i class="wcard">微众卡{{data.mainCard.number | abridgeAccountNumber}}</i>
                    </span>
                    <!--他行卡支付-->
                    <span class="item card" ng-if="func.getRecvAccount() == data.ACCOUNT_TYPE.OTHER_BANK_CARD">
                        {{data.recvAccountData.otherBankAccount.cardInfo.bankName}}
                        <br>{{data.recvAccountData.otherBankAccount.cardInfo.cardType}}
                        {{data.recvAccountData.otherBankAccount.cardInfo.cardNo | abridgeAccountNumber}}
                    </span>
                </div>
            </section>
            <div class="cy-wrap mgt20">金额
                <div class="po">
                    <!--<input type="number" class="it" ng-model="data.amount" ng-blur="func.onInputBlur()">-->
                    <keyboard-input type="number" hjtype = "je" class="it" hj-model="data.amount" hj-change="func.onAmountChanged()" hj-blur="func.onInputBlur()"></keyboard-input>
                </div>
                <span style="color:#3399eb;font-size:12px;position:relative;z-index:2;"
                      ng-if="func.isTransAllBtnShown()" ng-click="func.onClickTransAll()">全部转出</span>
                <span class="p-label-red p-fz-12" ng-if="func.getRecvAccount() == data.ACCOUNT_TYPE.CURRENT_PLUS && redPacketAmount" >+{{redPacketAmount}}元</span>
            </div>
            <p class="cy-tip" ng-if="data.isAmountTipShown">{{data.amountTipText}}</p>
            <p class="mgt20"  ng-if="!data.isAmountTipShown && !(func.getRecvAccount() == data.ACCOUNT_TYPE.CURRENT_PLUS && redPacketAmount)"></p>
            <!--红包-->
            <p class="tip-k mgb10" ng-if="func.getRecvAccount() == data.ACCOUNT_TYPE.CURRENT_PLUS && redPacketAmount">
                已为您选择{{redPacketAmount}}元红包&nbsp;<span class="p-c-bblue" ng-click="func.onClickSelectRedPacket()" ng-if="redPacketNum">更换</span>
            </p>
            <!--付款账户-->
            <div class="cy-wrap-a"  ng-click="func.onSelectPayWay()">
                <span class="t-l">从　</span>
                <p class="t-m" ng-if="func.getPayAccount() == data.ACCOUNT_TYPE.CURRENT_PLUS">
                    <img src="../img/slice/hq@3x.png" class="hq_icon">
                </p>
                <p class="t-m" ng-if="func.getPayAccount() == data.ACCOUNT_TYPE.WEBANK_CARD">
                    微众卡{{data.mainCard.number | abridgeAccountNumber}}
                </p>
                <i class="k" ng-if="func.isPayAccountShown()"></i>
            </div>
            <p class="tip-k mgb10" ng-if="func.getPayAccount() == data.ACCOUNT_TYPE.CURRENT_PLUS && data.currentPlusRedeemRemainTimes!=undefined">
                今天还可从活期+转出&nbsp;<span class="p-c-lorange">{{data.currentPlusRedeemRemainTimes}}</span>次
                <span ng-click="func.onClickCurrentPlusDetails()" class="p-c-bblue">详细介绍</span>
                <br>本次最多可转出&nbsp;<span class="p-c-lorange">{{data.HJAmount|number:2}}</span>元
            </p>
            <p class="tip-k mgb10" ng-if="func.getPayAccount() == data.ACCOUNT_TYPE.CURRENT_PLUS && data.currentPlusRedeemRemainTimes==undefined">
                本次最多可转出&nbsp;<span class="p-c-lorange">{{data.HJAmount|number:2}}</span>元
            </p>

            <p class="tip-k mgb10" ng-if="func.getPayAccount() == data.ACCOUNT_TYPE.WEBANK_CARD">
                本次最多可转出&nbsp;<span class="p-c-lorange">{{data.webankCardAmount|number:2}}</span>元
            </p>

            <!--收款账户-->
            <div class="cy-wrap-a" ng-click="func.onSelectReceiveWay()">
                <span class="t-l">到　</span>
                <p class="t-m" ng-if="func.getRecvAccount() == data.ACCOUNT_TYPE.CURRENT_PLUS">
                    <img src="../img/slice/hq@3x.png" class="hq_icon">
                </p>
                <p class="t-m" ng-if="func.getRecvAccount() == data.ACCOUNT_TYPE.WEBANK_CARD">
                    微众卡{{data.mainCard.number | abridgeAccountNumber}}
                </p>
                <p class="t-m" ng-if="func.getRecvAccount() == data.ACCOUNT_TYPE.OTHER_BANK_CARD">
                    {{data.recvAccountData.otherBankAccount.cardInfo.bankName + ' ' }}
                    {{data.recvAccountData.otherBankAccount.cardInfo.cardType}}
                    {{data.recvAccountData.otherBankAccount.cardInfo.cardNo | abridgeAccountNumber}}</p>
                <i class="k"></i>
            </div>
            <p class="tip-k" ng-if="func.getRecvAccount() == data.ACCOUNT_TYPE.CURRENT_PLUS && data.currentPlusPurchaseRemainTimes >= 0">
                今天还可以转入活期+&nbsp;<span class="p-c-lorange">{{data.currentPlusPurchaseRemainTimes}}</span>次
                <span ng-click="func.onClickCurrentPlusDetails()" class="p-c-bblue">详细介绍</span>
            </p>
            <p class="tip-k mgb10" ng-if="func.getRecvAccount() == data.ACCOUNT_TYPE.CURRENT_PLUS">预计收益到账时间
                <span>{{data.currentPlusAccountDesc}}</span>
            </p>

            <!--红包-->
            <div class="mt-a " ng-if="func.getRecvAccount() == data.ACCOUNT_TYPE.CURRENT_PLUS">
                <user-agreement
                        agreement-code ="data.agreementCode"
                        agreement-desc ="data.agreementDesc"
                        is-agreed="data.isAgreed">
                </user-agreement>
            </div>

            <div class="pd35 pd25h">
                <button class="{{data.buttonClass}}"
                        ng-disabled="func.updateButtonClass()"
                        ng-click="func.onClickConfirmTransOut()">实时转出</button>
            </div>
        </ion-content>
    </div>

    <!--付款账户-->
    <account-selector
            account-data="data.payAccountData"
            show="func.showPaymentAccountSelector"
            hide="func.hidePaymentAccountSelector"
            on-account-selected="func.onPayAccountSelected"
            >
    </account-selector>

    <!--收款账户-->
    <account-selector
            hide-amount=300
            account-data="data.recvAccountData"
            show="func.showReceivableAccountSelector"
            hide="func.hideReceivableAccountSelector"
            bind-card="func.bindCard"
            on-account-selected="func.onRecvAccountSelected"
            >
    </account-selector>

    <div pwd-input
         ng-model="vm.formData.confirmPassword"
         is-pwd-show="data.isPwdShow"
         sig-on-pwd-commit="sigOnPwdCommit"
         pwd-sub-title="data.pwdSubTitle"
         pwd-trans-desc="data.pwdTransDesc"
         pay-way-desc="data.payWayDesc"
         on-click-change-pay-way="func.onPwdSelectPayWay"
         can-change-pay-way="data.canPwdFrameChangePayWay"
            >
    </div>

    <loading show-loading="data.showLoading"></loading>
    <div pop-confirm out-value="data.outValue"></div>
</ion-view>