<div class="pwd-control-wrap item-hide-animate" ng-show="isShown">
    <div class="pwd-box-hd px-a"><i ng-click="onClickCloseButton()"></i>{{title}}</div>
    <div class="pwd-box-wrap">
        <div class="pwd-code-wrap">
            <ol class="pwd-code-list">
                <li ng-repeat="str in vm.displayPwd track by $index" ng-bind="str"></li>
            </ol>
            <p class="{{wordingStyle}}">{{wording}}</p>
        </div>
        <div class="pwd-keyboard">
            <table>
                <tr class="keyboard-row">
                    <td ng-click="onPwdClick(1)">1</td>
                    <td ng-click="onPwdClick(2)">2</td>
                    <td ng-click="onPwdClick(3)">3</td>
                </tr>
                <tr class="keyboard-row">
                    <td ng-click="onPwdClick(4)">4</td>
                    <td ng-click="onPwdClick(5)">5</td>
                    <td ng-click="onPwdClick(6)">6</td>
                </tr>
                <tr class="keyboard-row">
                    <td ng-click="onPwdClick(7)">7</td>
                    <td ng-click="onPwdClick(8)">8</td>
                    <td ng-click="onPwdClick(9)">9</td>
                </tr>
                <tr class="keyboard-row">
                    <td class="o"></td>
                    <td ng-click="onPwdClick(0)">0</td>
                    <td ng-click="onPwdClick(-1)" class="o"><i class="pwd-del"></i></td>
                </tr>
            </table>
        </div>
    </div>
</div>

