<ion-view>
    <div class="lc">
        <ion-header-bar>
            <div class="menu-ba">
                <header class="menu"><button class="menu-return" ng-click="back()"></button>购买</header>
            </div>
        </ion-header-bar>

        <ion-content class="has-header" has-bouncing="false">
                <p class="cy-wd">
                    <span class="l">现在买入<a ng-click="onClickProdDetail()" > {{data.prodInfo.on_sale_desc}}</a></span>
                    <!--<span ng-click="onClickProdDetail()" class="r">查看产品详情</span>-->
                </p>


                <div class="cy-wrap">买入金额
                    <div class="po">
                        <keyboard-input type="number" hjtype = "je" class="it" placeholder="{{data.minAmount}}元起购，{{data.incAmount}}元递增" hj-model="data.amount"  hj-blur="blurInput()" hj-focus="focusInput()" hj-change="changeInput()"></keyboard-input>
                    </div>
                    <i class="act" ng-if="data.showInputAct"></i>
                </div>
                <p class="cy-tip" ng-if="data.showInputAmountTips">{{data.inputAmountTipsContent}}</p>

                <p class="cy-ws">
                    <span ng-if="data.prodInfo.p_buy_max_amount > 0 && data.prodInfo.p_day_buy_total_amount <= 0">每人单笔限购<i class="p-c-lorange">{{data.prodInfo.p_buy_max_amount | formatMoneyShort}}元</i><em ng-if="data.buyLimit && data.maxAmountBuyLimit">，本次最多可购买<i class="p-c-lorange">{{data.maxAmountBuyLimit | formatMoneyShort}}元</i></em></span>

                    <span ng-if="data.prodInfo.p_buy_max_amount <= 0 && data.prodInfo.p_day_buy_total_amount > 0">每人每日限购<i class="p-c-lorange">{{data.prodInfo.p_day_buy_total_amount | formatMoneyShort}}元</i><em ng-if="data.buyLimit && data.maxAmountBuyLimit">，本次最多可购买<i class="p-c-lorange">{{data.maxAmountBuyLimit | formatMoneyShort}}元</i></em></span>

                    <span ng-if="data.prodInfo.p_buy_max_amount > 0 && data.prodInfo.p_day_buy_total_amount > 0">每人单笔限购<i class="p-c-lorange">{{data.prodInfo.p_buy_max_amount | formatMoneyShort}}元</i>，每日限购<i class="p-c-lorange">{{data.prodInfo.p_day_buy_total_amount | formatMoneyShort}}元</i><em ng-if="data.buyLimit && data.maxAmountBuyLimit">，本次最多可购买<i class="p-c-lorange">{{data.maxAmountBuyLimit | formatMoneyShort}}元</i></em></span>

                    <span style="display:block;" ng-if="data.showInputResult">大写：{{data.amountCN}}，预计到期收益为{{data.income}}元</span>
                </p>


                <div class="cy-wrap-a" ng-click="onSelectPayWay()">
                    <span class="t-l">付款账户</span>
                    <p class="t-m" ng-if="isCurrentPlus()">
                        <img class="hq_icon" src="../img/slice/hq@3x.png">
                    </p>
                    <p class="t-m" ng-if="isWeBankAccount()">
                        <img class="hq_ib" src="../img/bankHead/yh-0@2x.png">微众卡{{data.mainCard.number | abridgeAccountNumber}}
                    </p>
                    <p class="t-m" ng-if="isOtherBank()">
                        {{data.AccountData.otherBankAccount.cardInfo.bankName + ' ' }}
                        {{data.AccountData.otherBankAccount.cardInfo.cardType}}
                        {{data.AccountData.otherBankAccount.cardInfo.cardNo | abridgeAccountNumber}}
                    </p>
                    <i class="k"></i>
                </div>
                <p class="cy-tip" ng-if="data.showNeedBindCard">请绑定一张银行卡</p>

                <p class="cy-ws" style="color:rgb(242,147,96);" ng-if="data.unfreezeDate">
                    <span >推荐使用活期+购买，<em ng-if="data.unfreezeDate.getFullYear() != data.today.getFullYear()">{{data.unfreezeDate.getFullYear()}}年</em>{{data.unfreezeDate | formatDateObjToCNString}}前享受活期+收益</span>
                </p>


                <div class="cy-wrap-a mgt15" ng-click="onSelectRedeem()" ng-if="data.isInputReady">
                    <span class="t-l">到期安排</span>
                    <p class="t-m" ng-if="data.redeemType == '03'">
                        自动购买下一期
                    </p>
                    <p class="t-m" ng-if="data.redeemType == '02'">
                        全额赎回至<img class="hq_icon" src="../img/slice/hq@3x.png" style="float: none;display: inline-block;vertical-align: -4px;margin:0 0 0 4px;">
                    </p>
                    <p class="t-m" ng-if="data.redeemType == '01'">
                        全额赎回至<img class="hq_ib" src="../img/bankHead/yh-0@2x.png" style="float: none;display: inline-block;vertical-align: -5px;margin:0 0 0 4px;">微众卡
                    </p>
                    <p class="t-m" ng-if="!data.redeemType" >
                        请选择
                    </p>
                    <i class="k"></i>
                </div>


                <div class="cy-wrap-a mgt15" ng-click="onSelectRedeem()" ng-if="!data.isInputReady">
                    <span class="t-l">到期安排</span>
                    <p class="t-m" ng-if="data.redeemType == '03'" style="color:#acb2c1;">
                        自动购买下一期
                    </p>
                    <p class="t-m" ng-if="data.redeemType == '02'" style="color:#acb2c1;">
                        全额赎回至<img class="hq_icon" src="../img/slice/hq@3x_grey.png" style="float: none;display: inline-block;vertical-align: -4px;margin:0 0 0 4px;">
                    </p>
                    <p class="t-m" ng-if="data.redeemType == '01'" style="color:#acb2c1;">
                        全额赎回至<img class="hq_ib" src="../img/bankHead/yh-0@2x_grey.png" style="float: none;display: inline-block;vertical-align: -5px;margin:0 0 0 4px;">微众卡
                    </p>
                    <p class="t-m" ng-if="!data.redeemType" style="color:#acb2c1;">
                        请选择
                    </p>
                    <i class="k"></i>
                </div>


                <p class="cy-ws" style="color:rgb(242,147,96)" ng-if="(data.prodInfo.can_redeem_type_principal != '1' && data.prodInfo.can_roll != '1') && (data.lastAmount  != '0.00')">
                    <span >本期您已购{{data.lastAmount}}元，修改后到期安排将以本次为准</span>
                </p>

                <p class="cy-ws" ng-if="data.showSelectedTips">
                    <span ng-if="data.redeemType == '03' && data.prodInfo.can_redeem_type_principal == '1'">到期后<i class="p-c-lorange">{{data.amount | number:2}}</i>元自动购买下一期，<i class="p-c-lorange">{{data.income | number:2}}元收益赎回至微众卡</i></span>

                    <span ng-if="data.redeemType == '03' && data.prodInfo.can_roll == '1'">到期后<i class="p-c-lorange">{{data.amount | number:2}}</i>元自动购买{{data.rollProdValueDate.substr(4, 4)}}期，<i class="p-c-lorange">{{data.income | number:2}}</i>元收益赎回至微众卡；{{data.rollProdValueDate.substr(4, 4)}}期预期年化收益率<i class="p-c-lorange">{{data.rollProdIncomeRate | number:2}}%</i>，投资期限预估为<i class="p-c-lorange">{{data.rollProdLife}}</i>天</span>

                    <span ng-if="data.redeemType == '01' || data.redeemType == '02'">到期后本金<i class="p-c-lorange">{{data.amount}}</i>元及其收益全部赎回</span>
                </p>

                <div class="mt-b">
                    <user-agreement
                            agreement-code = "data.agreementCode"
                            agreement-desc ="data.agreementDesc"
                            is-agreed="data.isAgreed"
                            on-click-agree-checkbox="data.onClickAgreeCheckbox">
                    </user-agreement>
                </div>

                <dl class="sm-k" style="padding-top:10px;">
                    <dt>说明</dt>
                    <dd ng-if="data.prodInfo.on_sale_code == 'QL21'" >购买申请提交后，您可在本期售卖结束前撤销购买申请 </dd>
                    <dd>购买申请受理后将于<em ng-if="data.confirmDate.getFullYear() != data.today.getFullYear()">{{data.confirmDate.getFullYear()}}年</em>{{data.confirmDate | formatDateObjToCNString}} 确认结果</dd>
                    <dd>您可于<em ng-if="data.countDate.getFullYear() != data.today.getFullYear()">{{data.endDate.getFullYear()}}年</em>{{data.countDate | formatDateObjToCNString}}查看首笔预估收益，在封闭期内不可赎回</dd>
                    <dd ng-if="data.useSvrEndDate">本产品预计将于<em ng-if="data.endDate.getFullYear() != data.today.getFullYear()">{{data.endDate.getFullYear()}}年</em>{{data.endDate | formatDateObjToCNString}}到期，到期安排可在已购详情页修改</dd>

                </dl>
                <div class="btn-wrap pd20">
                    <button class="{{data.ButtonClass}}" ng-click="onClickPurchase()">立即购买</button>
                </div>
        </ion-content>


        <account-selector
                input-amount="data.amount"
                account-data="data.AccountData"
                show="data.showAccountSelector"
                hide="hideAccountSelector"
                bind-card="bindCard"
                on-account-selected="onAccountSelected"
                >
        </account-selector>

        <div pwd-input
             ng-model="vm.formData.confirmPassword"
             is-pwd-show="data.isPwdShow"
             sig-on-pwd-commit="data.sigOnPwdCommit"
             pwd-sub-title="data.pwdSubTitle"
             pwd-trans-desc="data.pwdTransDesc"
             pay-way-desc="data.payWayDesc"
             on-click-change-pay-way="onSelectPayWay"
                >
        </div>

        <div pop-confirm out-value = "data.outValue"></div>

        <loading show-loading="data.showLoading"></loading>

        <div class="pop-bg-hj" ng-if="data.showRedeem">
            <div class="pop bg-b">
                <header class="hd">请选择到期资金安排<i class="close" ng-click="onClickDstClose()"></i></header>
                <ul class="card" style="padding-bottom:5px;">
                    <li ng-click="onClickRedeemLi('02')" ng-class="onClassRedeemLi('02')">
                        <p class="cd-name">赎回到<img style="width: 51px;height: 20px;margin: 0 0 0 4px;vertical-align: bottom;" src="../img/slice/hq@3x.png"></p>
                        <p class="yv" style="padding-right:30px;">到期后，本金及收益自动转入到活期+，享受活期+收益，使用时可随时转出（下一工作日24:00前到账）</p>
                    </li>
                    <li ng-click="onClickRedeemLi('01')" ng-class="onClassRedeemLi('01')">
                        <p class="cd-name">赎回到<img style="width: 25px;height: 25px;margin: 0 0 -5px 0;" src="../img/bankHead/yh-0@2x.png">微众卡</p>
                        <p class="yv" style="padding-right:30px;">到期后，本金及收益自动转入到微众卡，可马上用于投资其他理财产品（下一工作日24:00前到账）</p>
                    </li>

                </ul>
            </div>
        </div>
        <div slider-up-part-redeem option="data.partRedeemOption"></div>
        <div slider-up-confirm slider-up-confirm-option="data.sliderUpConfirmOption"></div>

    </div>
</ion-view>