<ion-view>
    <div class="rg">
        <ion-header-bar>
            <div class="menu-ba">
                <header class="menu">
                    <button class="menu-return" ng-click="back()"></button>
                    登录说明
                </header>
            </div>
        </ion-header-bar>

        <ion-content class="has-header" has-bouncing="false">
            <div class="lg-map"></div>

            <dl class="lg-io">
                <dt>微众银行可以通过腾讯帐号体系一键登录</dt>
                <dd><i>1</i>登录微信/QQ即可使用微众银行；</dd>
                <dd><i>2</i>同一微众银行账户可同时绑定微信和QQ，选择任一登录即可；</dd>
                <dd><i>3</i>支持解绑或更换登录帐号。</dd>
            </dl>
            <p style="padding:0 25px 20px;color:#888e9b;font-size:14px;line-height:20px;">如您暂未绑定微信或QQ, <span
                    style="color:#3d9deb;" ng-click="onClickLoginPhone()">点击此处</span>查看登录App 的办法。</p>
        </ion-content>
    </div>
</ion-view>