<div class="set">
    <ion-header-bar>
        <div class="menu-ba">
            <header class="menu">
                <button class="menu-return" ng-click="back()"></button>
                修改手势密码
            </header>
        </div>
    </ion-header-bar>
    <ion-content class="has-header">

    </ion-content>
    <ion-view style="box-shadow:none;" can-swipe-back="false">
        <div class="change-password-wrap">
            <div pwd-input
                 ng-model="vm.formData.confirmPassword"
                 is-pwd-show="data.isPwdShow"
                 sig-on-pwd-commit="data.sigOnPwdCommit"
                 pwd-sub-title="data.pwdSubTitle"
                 close-pop="data.closePop()">

            </div>

            <div pop-confirm out-value="data.outValue"></div>

            <loading show-loading="data.showLoading"></loading>
        </div>
    </ion-view>
</div>
