<ion-view>
    <div class="set">
        <ion-header-bar>
            <div class="menu-ba">
                <header class="menu"><button class="menu-return" ng-click="back()"></button>密码安全</header>
            </div>
        </ion-header-bar>


        <ion-content class="has-header" has-bouncing="true">
            <ul class="set-list mgt20">
                <li ng-click="onClickPasswdMngBtn()"><span class="a">修改交易密码</span></li>
                <li ng-click="onClickPasswdResetBtn()"><span class="a">重置交易密码</span></li>
            </ul>
            <ul class="set-list mgt20">
                <li ng-click="onClickHandPasswdResetBtn()"><span class="a">修改手势密码</span></li>
            </ul>
            <ul class="set-list set-list-noarrow mgt20" ng-if="showSecurityScan()">
                <li ng-click="onClickSecurityScan()"><span class="a">安全登录检查</span><ion-toggle ng-checked="securityScan"></ion-toggle></li>
            </ul>
        </ion-content>

    </div>
    <div pwd-input
         ng-model="vm.formData.confirmPassword"
         is-pwd-show="isPwdShow"
         sig-on-pwd-commit="sigOnPwdCommit"
         pwd-sub-title="pwdSubTitle"
         >
    </div>
    <div pop-confirm out-value="outValue"></div>
    <loading show-loading="data.showLoading"></loading>
</ion-view>
