<ion-view>
    <div class="record refresh-white">
        <ion-header-bar>
            <div class="menu-ba">
                <header class="menu"><button class="menu-return" ng-click="back()"></button>交易查询</header>
            </div>
        </ion-header-bar>
        <ion-content class="has-header" has-bouncing="false">
            <!--头部操作-->
            <div class="record-op-wrap" >
                <div class="record-op-menu ls px">
                    <div class="time-select-wrap">
                        <span class="time-box" ng-click="onClickTime('start')">{{data.dtStart | formatDateObjToString}}</span>
                        <i class="r-i">-</i>
                        <span class="time-box" ng-click="onClickTime('end')">{{data.dtEnd | formatDateObjToString}}</span>
                    </div>
                    <div class="record-sure" ng-click="onClickTimeSubmit()">确定</div>
                </div>

                <div class="opt-list-b px-a">
                    <ul class="flex">
                        <li class="item"><span ng-class="onClassTimeSelect('week')" ng-click="onClickTimeSelect('week')">近一周</span></li>
                        <li class="item"><span ng-class="onClassTimeSelect('month')" ng-click="onClickTimeSelect('month')">近一月</span></li>
                        <li class="item"><span ng-class="onClassTimeSelect('month3')" ng-click="onClickTimeSelect('month3')">近三月</span></li>
                    </ul>
                </div>
            </div>
        </ion-content>
        <ion-content style="top:150px;"  delegate-handle="myContent" has-bouncing="true">

            <div class="px" ng-if="data.renderList.length">
                <ul class="record-list">
                    <!--列表项-->
                    <li bindonce ng-repeat="item in data.renderList" ng-class="onClassItem(item)" ng-click="onClickItemLi(item)">
                        <div>
                            <span class="name" ng-bind="item.selfTrancDesc"></span>
                            <span class="num" bo-bind="item.amountStr"></span>
                        </div>
                        <div class="v">
                            <span class="time" bo-bind="item.dateStr"></span>
                            <span bo-class="onClassStatus(item)" ng-click="onClickItem(item,$event)"><em bo-bind="item.status"></em><i class="r-j" bo-if="onIfDown(item)"></i></span>
                        </div>
                        <div ng-if="onIfItem1(item)" class="error-o px-b">
                            <span bo-bind="item.errLog"></span>
                        </div>
                    </li>
                    <li class="record-mask" ng-if="onShowMenu()"></li>

                </ul>

            </div>
            <img ng-if="!data.renderList.length && !data.firstTime" src="../img/jy-more@2x.png" alt="" style="display: block;width: 146px;height: 96px;margin: 40px auto 0;">
        </ion-content>
        <loading show-loading="data.showLoading"></loading>
    </div>

</ion-view>