<ion-view>
	<div class="set">
		<ion-header-bar>
			<div class="menu-ba">
				<header class="menu"><button class="menu-return" ng-click="back()"></button>关于我们</header>
			</div>
		</ion-header-bar>

		<ion-content has-bouncing="true" class="has-header" delegate-handle="myContent">

			<dl class="dl-we a">
				<dt class="px-a">微众银行介绍</dt>
				<dd><strong style="color:#888e9b;display:block;">微众银行是国内首家开业的民营银行</strong>由腾讯、百业源和立业等多家知名企业发起设立；于2014年12月获得由深圳银监局颁发的金融许可证，注册资本为人民币30亿元。微众银行严格遵守国家金融法律法规和监管政策，以合规经营和稳健发展为基础，致力于为普罗大众、微小企业提供差异化、有特色、优质便捷的金融服务。</dd>
			</dl>

			<dl class="dl-we a" style="padding:15px 25px 25px;">
				<dt class="px-a">微众银行App介绍</dt>
				<dd>微众银行App是微众银行正式对外推出的首款独立App形态产品，用户体验亲切简单，设计风格清新有趣，旨在为用户提供更加贴心的金融服务。<br>微众银行App第一期将通过优选理财产品、实时提现、便捷资金调度，让用户轻松愉悦管好自己的钱。</dd>
			</dl>

			<dl class="dl-we b" style="padding:10px 25px 20px;">
				<dt class="px-a">微众动态</dt>
				<dd>
					<span>大事记：</span>

				    <div class="milestone_wrap milestone_list_show wrap_show">
				    	<ul class="milestone_list g_seraph_milestone_list">
				        	<li class="li_prepare_current">
				                <img src="../img/mpt/m-1.jpg" class="img" alt="" />
				                <p class="txt">获得筹建批复</p>
				            </li>
				            <li class="li_prepare">
				                <img src="../img/mpt/m-2.jpg" class="img" alt="" />
				                <p class="txt">获得开业批复和金融许可证</p>
				            </li>
				            <li class="li_prepare">
				                <img src="../img/mpt/m-3.jpg" class="img" alt="" />
				                <p class="txt">深圳前海微众银行股份有限公司正式成立</p>
				            </li>
				            <li class="li_prepare">
				                <img src="../img/mpt/m-4.jpg" class="img" alt="" />
				                <p class="txt">官网上线</p>
				            </li>
				            <li class="li_prepare">
				                <img src="../img/mpt/m-5.jpg" class="img" alt="" />
				                <p class="txt">国务院总理李克强亲临微众银行考察调研</p>
				            </li>
				            <li class="li_prepare">
				                <img src="../img/mpt/m-6.jpg" class="img" alt="" />
				                <p class="txt">“微粒贷”产品上线手机QQ</p>
				            </li>
				            <li class="li_prepare">
				                <img src="../img/mpt/m-7.jpg" class="img" alt="" />
				                <p class="txt">“微众银行”App上线</p>
				            </li>
				            <li class="li_prepare">
				                <img src="../img/mpt/m-8.jpg" class="img" alt="" />
				                <p class="txt">“微粒贷”产品上线微信</p>
				            </li>
				            <li class="li_prepare">
				                <img src="../img/mpt/m-9.jpg" class="img" alt="" />
				                <p class="txt">与优信合作，平台金融业务上线</p>
				            </li>
				        </ul>
				        <div class="timeline_wrap">
				            <ul class="timeline_list">
				            	<li class="li_prepare_current">
				                    <div class="dot_area">
				                        <span class="dot"></span>
				                        <div class="milestone_tips">2014年7月24日</div>
				                    </div>
				                </li>
				                <li class="li_2_to_prepare">
				                    <div class="dot_area">
				                        <span class="dot"></span>
				                        <div class="milestone_tips">2014年12月12日</div>
				                    </div>
				                </li>
				                <li class="li_prepare_2">
				                    <div class="dot_area">
				                        <span class="dot"></span>
				                        <div class="milestone_tips">2014年12月16日</div>
				                    </div>
				                </li>
				                <li class="li_prepare_2">
				                    <div class="dot_area">
				                        <span class="dot"></span>
				                        <div class="milestone_tips">2014年12月28日</div>
				                    </div>
				                </li>
				                <li class="li_prepare_2">
				                    <div class="dot_area">
				                        <span class="dot"></span>
				                        <div class="milestone_tips">2015年1月4日</div>
				                    </div>
				                </li>
				                <li class="li_prepare_2">
				                    <div class="dot_area">
				                        <span class="dot"></span>
				                        <div class="milestone_tips">2015年5月15日</div>
				                    </div>
				                </li>
				                <li class="li_prepare_2">
				                    <div class="dot_area">
				                        <span class="dot"></span>
				                        <div class="milestone_tips">2015年8月15日</div>
				                    </div>
				                </li>
				                <li class="li_prepare_2">
				                    <div class="dot_area">
				                        <span class="dot"></span>
				                        <div class="milestone_tips">2015年9月21日</div>
				                    </div>
				                </li>
				                <li class="li_prepare_2">
				                    <div class="dot_area">
				                        <span class="dot"></span>
				                        <div class="milestone_tips">2015年9月23日</div>
				                    </div>
				                </li>
				            </ul>
				            <div class="timeline"></div>
				        </div>
				        <div class="arrow_wrap">
				        	<a  class="arrow_left"><i>向左</i></a><!--  arrow_left_active -->
				            <a  class="arrow_right arrow_right_active"><i>向右</i></a>
				        </div>
				    </div>

				</dd>
			</dl>

			<dl class="dl-we b">
				<dt class="px-a">服务协议</dt>
				<dd class="ls" ng-repeat="item in insideAgree" ng-click="onClickInsideAgree($index)">{{item}}</dd>
			</dl>

			<!--<dl class="dl-we b">-->
				<!--<dt class="px-a">支付协议</dt>-->
				<!--<dd class="ls" ng-repeat="item in payInfo" ng-click="onClickPayAgreement(item)">{{item.name}}</dd>-->
			<!--</dl>-->


			<!--dl class="dl-we b" ng-if="monetaryInfo.length">
				<dt class="px-a">活期+协议</dt>
				<dd class="ls" ng-repeat="item in monetaryInfo" ng-click="onClickProdAgreement(item)">{{item.prod_name}}</dd>
			</dl-->

			<!--dl class="dl-we b" ng-if="insuranceInfo.length">
				<dt class="px-a">定期+协议</dt>
				<dd class="ls" ng-repeat="item in insuranceInfo" ng-click="onClickProdAgreement(item)">{{item.prod_name}}</dd>
				<dd class="ls" ng-repeat="item in universalInfo" ng-click="onClickProdAgreement(item)">{{item.prod_name}}</dd>
			</dl-->

			<!--dl class="dl-we c" ng-if="stockInfo.length">
				<dt class="px-a">基金协议</dt>
				<dd class="ls" ng-repeat="item in stockInfo" ng-click="onClickProdAgreement(item)">{{item.prod_name}}</dd>
			</dl-->

            <p class="ot-t" style="position:static;padding-top:10px;">
                <!--span class="p-c-bblue" ng-click="onClickAgreement()">微众银行服务协议</span><br-->
                <span class="ot-t-b">Copyright © 2014-2016 WeBank. All Rights Reserved.<span ng-if = "showYingYongBaoAD"><br>微众银行官网发布渠道：应用宝 http://myapp.com</span>
                </span>
            </p>
		</ion-content>
	</div>
</ion-view>