<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nwd_color_seven_income_line</key>
	<string>#FF7010</string>
	<key>nwd_color_separator_line</key>
	<string>#E3E3E3</string>
	<key>nwd_color_gradual_second</key>
	<string>#fe6138</string>
	<key>nwd_color_gradual_first</key>
	<string>#ff7820</string>
	<key>nwd_color_common_bg</key>
	<string>#f4f4f4</string>
	<key>nwd_color_separator</key>
	<string>#e1e1e1</string>
	<key>nwd_color_unedit_input_bg</key>
	<string>#f6f6f6</string>
	<key>nwd_color_common_warm</key>
	<string>#ff6600</string>
	<key>nwd_color_common_cool</key>
	<string>#0697da</string>
	<key>nwd_color_common_light</key>
	<string>#96aaff</string>
	<key>nwd_color_error</key>
	<string>#ff3b3b</string>
	<key>nwd_color_success</key>
	<string>#65d233</string>
	<key>nwd_color_font_dark</key>
	<string>#333333</string>
	<key>nwd_color_font_middle</key>
	<string>#666666</string>
	<key>nwd_color_font_light</key>
	<string>#999999</string>
	<key>nwd_color_font_warm</key>
	<string>#ff6600</string>
	<key>nwd_color_font_cool</key>
	<string>#0697da</string>
	<key>nwd_color_font_placeholder</key>
	<string>#cccccc</string>
	<key>nwd_color_button_warm</key>
	<string>#ff6600</string>
	<key>nwd_color_button_warm_hilighted</key>
	<string>#b24700</string>
	<key>nwd_color_button_cool</key>
	<string>#0697da</string>
	<key>nwd_color_button_cool_hilighted</key>
	<string>#046998</string>
	<key>nwd_color_button_green</key>
	<string>#76bd61</string>
	<key>nwd_color_button_green_hilighted</key>
	<string>#66aa52</string>
	<key>nwd_color_button_border_gray</key>
	<string>#e1e1e1</string>
	<key>nwd_color_button_inactive</key>
	<string>#e5e5e5</string>
	<key>nwd_color_button_simple</key>
	<string>#ffffff</string>
	<key>nwd_color_tableview_common_bg</key>
	<string>#EFF2F7</string>
	<key>nwd_color_purchase_button</key>
	<string>#FA3A34</string>
	<key>nwd_color_font_common_purple68</key>
	<string>#6878C6</string>
	<key>nwd_color_font_common_gray88</key>
	<string>#888888</string>
	<key>nwd_color_font_common_gray66</key>
	<string>#666666</string>
	<key>nwd_color_font_common_gray7c</key>
	<string>#7c7c7c</string>
	<key>nwd_color_financial_progress_fg</key>
	<string>#FA3A34</string>
	<key>nwd_color_financial_progress_bg</key>
	<string>#E1E4EE</string>
	<key>nwd_color_financial_cell_font_light</key>
	<string>#4C5768</string>
	<key>nwd_color_home_tableview_bg</key>
	<string>#E1E4EE</string>
	<key>nwd_color_home_financial_cell_main_bg</key>
	<string>#FFFFFF</string>
	<key>nwd_color_left_side_drawer_bg</key>
	<string>#F5F6FB</string>
	<key>nwd_color_left_side_drawer_member_bg</key>
	<string>#5B6BC2</string>
	<key>nwd_color_home_banner_control_page</key>
	<string>#d05043</string>
	<key>nwd_color_borrow_tint</key>
	<string>#5b6bc2</string>
	<key>nwd_color_general_font_dark</key>
	<string>#545252</string>
	<key>nwd_color_general_font_light</key>
	<string>#989797</string>
	<key>nwd_color_assets_bar_blue</key>
	<string>#61D1F9</string>
	<key>nwd_color_assets_bar_red</key>
	<string>#FF5E5E</string>
	<key>nwd_color_assets_bar_yellow</key>
	<string>#FFC13E</string>
	<key>nwd_color_assets_bar_green</key>
	<string>#65DB83</string>
	<key>nwd_color_filed_baseline</key>
	<string>#b7c3c3</string>
	<key>nwd_color_coupon_cell_bg</key>
	<string>#f9f9f9</string>
	<key>nwd_color_coupon_cell_border</key>
	<string>#909090</string>
	<key>nwd_color_accountdetail_username_textcolor</key>
	<string>#6d6e73</string>
	<key>nwd_color_product_tip_bar</key>
	<string>#fc944d</string>
	<key>nwd_color_home_extra_rate_bg</key>
	<string>#ffd0b1</string>
	<key>nwd_color_large_progressbar_outside_default</key>
	<string>#f0f0f0</string>
	<key>nwd_color_large_progressbar_outside_progress</key>
	<string>#ffad76</string>
	<key>nwd_color_large_progressbar_inside_bg</key>
	<string>#ff6600</string>
	<key>nwd_color_progress_back</key>
	<string>#f1f1f1</string>
</dict>
</plist>
