<ion-view>
    <div class="bx">
        <ion-header-bar>
            <div class="menu-ba">
                <header class="menu"><button class="menu-return" ng-click="func.back()"></button>确认回访</header>
            </div>
        </ion-header-bar>

        <ion-content class="has-header" has-bouncing="false">
            <div style="padding:20px 25px 0;line-height:24px;font-size:14px;" compile="obj.sectionHtml"></div>


            <div class="btn-wrap mgt30">
                <button class="btn-c" ng-click="func.back()">确认</button>
            </div>

            <div style="height:20px;"></div>

        </ion-content>

    </div>
</ion-view>
